{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
{% if user.is_authenticated %}
    {% if user %}
        <header>
            <nav> <h1>{{ user.username }}</h1><br>
                <ul class="menu">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'kabinet' %}">Кабинет</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                    <li><a href="{% url 'take_credit_page' %}">Взять кредит</a></li>
                    <li><a href="{% url 'show_all_users'  %}">Все пользователи</a></li>
                    <li><a href="{% url 'payoff_page'  %}">Мои кредиты</a></li>
                </ul>
            </nav>
        </header>
    {% endif %}

    {% block content %}
    {% endblock %}

{% else %}
    <h2>Добро пожаловать на наш банк</h2>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
{% endif %}
</body>
</html>

