{% extends "main/base.html" %}
{% load static %}
{% load custom_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/kabinet.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="inf_user">
        <p>Name: {{user.first_name}} {{ user.last_name}}</p>
        <p>Username: {{user.username}}</p>

        <p>Email: {{user.email}}</p>
    </div>
    <div class="body">
        {% if error_message %}
            <div class="error_message">
                <p>{{ error_message }}</p>
            </div>
        {% endif %}

        <h2>Доступно: {{ user.profile.wallet }}</h2><br>

        <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>

        {% if notifications %}
            <div class="notifications">
                <ul>
                    {% for notification in notifications %}
                        <p>{{ notification }}</p>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endif %}

{% endblock %}