{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'payment' %}" method="POST" >
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% if recipient %}
            <label for="recipient_id">Вы уверены отправить деньги пользователю {{ recipient.username }}?</label>
            <input type="checkbox" name="recipient_id" value="{{ recipient.id }}"><br>
        {% else %}
            <label for="recipient_name">Ник получателя</label>
            <input type="text" name="recipient_name"><br><br>
        {% endif %}

        <label for="money">Cумма перевода</label>
        <input type="number" name="money"><br><br>

        <label for="kupon_n">Номер купона (не обязательно)</label>
        <input id="kupon_n" type="number" name="kupon_n"><br><br>

        <button type="submit">Отправить</button>
    </form>
{% endblock %}