{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/show_all_users.css' %}">
{% endblock %}

{% block content %}
    {%  for res_user in users %}
        <h3>Пользователь: {{ res_user.username }}</h3>

        <form action="{%  url 'show_all_users'%}" method="POST">
        {% csrf_token %}

        <input value="{{ res_user.id }}" type="text" name="res_id" hidden="hidden">

        <button type="submit">Отправить</button>
        </form><br>
    {% endfor %}

    <button><a href="{% url 'history_range' %}">История</a></button>
{% endblock %}